@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class=display-4>About Us</h1>
    <p>The who's who of the Puppy Play Date Center.</p>
</div>

<html>
<head>
    <title>About Our Staff</title>
</head>
<body>
    <div class="card-group">
        <div class="card">
            <img src="~/images/Old-Reynella-Vet-Dr-Hazel.jpg" class="card-img-top" alt="Dr Hazel, BVSc">
            <div class="card-body">
                <h5 class="card-title">Dr. Hazel Cable BVSc</h5>
                <p class="card-text">Dr. Hazel is our practice owner and head veterinarian. She was born in South Africa, and it seems being a Vet is in her blood, with both her father and brother also being qualified Vet Surgeons.</p>
            </div>
        </div>
        <div class="card">
            <img src="~/images/Old-Reynella-Vet-Dr-Quinn.jpg" class="card-img-top" alt="Dr Quinn DVM ">
            <div class="card-body">
                <h5 class="card-title">Dr. Quinn Mackie DVM</h5>
                <p class="card-text">Dr. Quinn dreamed of being a vet since he was 7 years old, but it was only after losing a close family pet in his mid-twenties, he took the plunge and started his studies in Veterinary Medicine.</p>
            </div>
        </div>
        <div class="card">
            <img src="~/images/Dylan-600x1160.jpg" class="card-img-top" alt="Dr Dylan B, BSc, DVM">
            <div class="card-body">
                <h5 class="card-title">Dr. Dylan B</h5>
                <p class="card-text">Dr. Dylan studied at University of Adelaide’s Roseworthy Campus and graduated in 2018. Dr. Dylan grew up in the Southern Suburbs of Adelaide, only 5 minutes away from the Old Reynella Clinic. He has a little Chihuahua called Minnie who he adopted a few years ago.</p>
            </div>
        </div>
    </div>




</body>
</html>


