@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class=display-4>About Us</h1>
    <p>The who's who of the Puppy Play Date Center.</p>
</div>


<div class="container">
    <img src="~/images/old-reynella-vet-dr-hazel.jpg" class="rounded-circle" class="img-fluid" class="img-thumbnail" alt="Doctor Hazel" />
    
    <float; inline-start>
        Dr. Hazel BVSc
        <br />
    <float; inline-start;>
        Dr. Hazel is our practice head veterinarian. She was born in South Africa, and it seems being a Vet is in her blood, with both her father and brother also being qualified Veterinarian Surgeons.
</div>
