@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Puppy Play Date Center</h1>
    <p>A place to connect and play with your puppies.</p>
</div>


