@{
    ViewData["Title"] = "Our Services";
}

<div class="text-center">
    <h1 class=display-4>Our Services</h1>
    <p>What we can do for your furry friends</p>
</div>

<div class="text-center">
    <h4>Clinic Services:</h4>
    <br />
    <h6> Consultations</h6>
    <br />
    <h9>
        Consultations are available by appointment only, six days a week. Our appointments are available weekdays from 9am until 7pm. We also offer limited consultations on Saturdays, 9am till 1pm. We are closed on Sundays and Public Holidays.
        We offer care and treatment for a range of small animals, including dogs and cats, rats, mice, rabbits, ferrets and guinea pigs.
        <br />
        <br />
        Continuity of care to our clients is important and we strive to always provide a streamlined experience. If you have a specific veterinarian you prefer please request this doctor when scheduling your appointment. Consultation allows for a physical examination of your pet, and allows the Veterinarian time to address any concerns you may have.
        Fear free consultation is important to our practice; should you have a pet that has specific behavioural issues when visiting the doctor’s office please make our reception team aware. This way we can ensure your booking is made with adequate time to make your pet comfortable with their experience.
    </h9>


</div>